.call-preview {
    display: flex;
    width: 100%;
    border: #A9A9A9 1px solid;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 5px;
}

.call-detail {
    display: flex;
    width: 100%;
    border: #A9A9A9 1px solid;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 5px;
}

.call-detail div {
    margin: 5px 0;
}

.call-detail .actions {
    display: block;
}

.back-button {
    display: flex;
    padding: 3px;
    align-items: center;
    cursor: pointer;
}

.call-detail .actions .archive-button {
    float: right;
}

.archive-button {
    background-color: unset;
    margin-left: 3px; 
}

/* .archive-button:hover {
    background-color: #ff0000;
    transition: background-color 2s;
    transition-timing-function: ease-in;
} */